.hero-list-modal{
  width 500px;
  min-height 300px;
  margin 100px auto 0 auto;
  .heroes-list{
    .image-hero{
      padding 5px 5px 0 0 ;
      border-radius 3px;
      width 50px;
      height 50px;
    }
  }
}