.submit-team{
  .step{
    padding 10px;
    border: 1px solid #26272d;
    background #1f2025;
    border-radius 2px;
    margin-bottom 10px !important;
  }
  .step-2{
    .hero-select{
      justify-content center;
    }
  }
  .btn-submit{
    width 100%;
  }
}