.submit-team{
  .step{
    padding 10px;
    border: 1px solid #c1c1c1;
    background white;
    border-radius 2px;
    margin-bottom 10px !important;
  }
  .step-2{
    .hero-select{
      justify-content center;
    }
  }
  .btn-submit{
    width 100%;
  }
}