.default-layout{
  max-width 1200px;
  margin 0 auto;
  .layout-header{
    background-image url("../../../../assets/img/main-banner.png");
    background-repeat: no-repeat;
    height 300px;
    background-position: center;
    position relative;
    .head-panel{
      position absolute;
      bottom 0;
      left 0;
      padding 10px ;
      width 100%;
      @media (max-width 640px){
        flex-direction column !important;
        .panel-right{
          padding-top 10px;
          .form-group-sl {
            padding-left 0 !important;
          }
        }
      }
      .main-game-image{
        border-radius 8px;
        width 60px;
        height 60px;
      }
      .main-game-name{
        padding-left 20px;
        color white !important;
        font-size 18px;
        font-weight bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .panel-right{
        flex 1 ;
        justify-content space-between;
        align-items: center;
        .form-group-sl{
          margin-bottom 0;
          padding-left 20px;
          &.input-sl{
            flex none !important;
            width : calc(100% - 50px );
          }
          .form-control-sl{
            padding 15px 20px;
          }
        }

        .btn-search{
          width 45px;
          height 45px;
          background #71be9d
          border 1px solid #5e9e83;
          border-radius 6px;
          .fa-search{
            font-size 30px;
            color white;
          }
        }


      }
    }
  }
}