.form-group {
    margin-bottom 2rem;
    //position relative;
    &.input{
        height 60px !important
    }
    .form-control {
        color black !important;
    }

    .error-text {
        color red;
        font-size 12px;
        margin-top: 5px;
        //position absolute;
    }
}