.game-form-modal{
  max-width 1000px;
  width 100%;
  min-width 300px;
  min-height 300px;
  background white;
  margin 100px auto 0 auto ;
  border-radius 5px;
  .modal-footer{
    .btn-green{
      margin-right 8px;
    }
  }
  //.game-form{
  //  background white;
  //  border-radius 6px;
  //  padding 10px;
  //  margin-bottom 20px;
  //  .game-label{
  //    font-size 18px ;
  //    font-weight 600;
  //  }
  //}
}