.sl-input{
  width 100%;
  min-height 70px;
  input{
    width inherit;
    padding 5px 10px;
    border-radius 5px ;
    outline none;
    border 1px solid #e4e4e4;
  }
  .er-message{
    color red;
    font-size 13px;
    font-style: italic;
  }
}