.best-list{
  background white;
  .head{
    position relative;
    .fa-bars{
      font-size 25px;
      position absolute;
      left 10px;
      top 50%;
      transform translate(0, -50%);
    }
    padding 10px 0 10px 45px;

    background #2c2c2c
    font-size 15px;
    font-weight 600;
    border-top-left-radius 8px;
    border-top-right-radius 8px;
    color white;
  }

  .list-items{
    border 1px solid #c1c1c1;
    height 100%;
    padding 10px;
    .item{
      display flex  ;
      flex-direction row;
      position relative;
      border-bottom 1px solid  #c1c1c1;
      padding 10px 0;

      .item-image{
        width 40px;
        height 40px;
      }
      .item-name{
        padding-left 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .rating{
        position absolute;
        right 10px;
        top 50% ;
        transform translate(0 , -50%);
        .cur-rate{
          font-size 15px;
          font-weight 500;
        }
        .per-rate{
          font-size 13px;
          font-weight 600;
          color #acacac
        }
      }
    }
  }
}