.tag-preview{
  .tag{
    border 1px solid #acacac;
    border-radius 20px;
    padding 5px 10px;
    margin-right 10px;
    cursor: pointer;
    transition .3s all;
    &:hover{
      border-color #0b79be;
      background #0c85d0;
      color white;
    }
  }
}