.modal-list {
  .modal-f-enter {
    .modal-overlay {
      opacity 0;

      .modal-box {
        opacity 0
      }
    }
  }

  .modal-f-enter.modal-f-enter-active {
    .modal-overlay {
      opacity: 1;
      transition: opacity .3s ease-in-out;

      .modal-box {
        opacity 1
        //transition: transform .3s ease-out,-webkit-transform .3s ease-out;
      }
    }
  }

  .modal-f-exit {
    .modal-overlay {
      opacity: 1;
      .modal-box {
        //transform: translate(0, 0);
        opacity 1
      }
    }
  }

  .modal-f-exit.modal-f-exit-active {
    .modal-overlay {
      opacity: 0;
      transition: opacity .3s ease-in;

      .modal-box {
        //transition: transform .3s ease-out,-webkit-transform .3s ease-out;
        opacity 0
      }
    }
  }


  .modal-overlay {
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    background rgba(black, 60%)
    overflow-y auto
    z-index 20
    text-align center

  }

  .modal-box {
    display inline-block
    margin-top 150px


  }
}