.text-area-form{
  width 100%
  //float right
  //padding 20px
  //margin-right 20px
  .label{
    display block
    font-size 16px
    float left
  }
  .text-area{
    width 100%
    resize vertical
    min-height 80px
    padding 5px 10px;
    height 80px
    border 1px solid #e2e2e2
    border-radius 3px
    display block
    //padding 5px
    //margin-bottom 15px
    //margin-top 5px
  }

}