.page-form-layout{
  padding-top 20px;
  @media (max-width  990px){
    .left-side , .right-side, .mid-side{
      padding-right 0 !important;
      padding-left 0 !important;
    }
  }
  .mid-side{
    margin-bottom 10px;
  }
}