.page-form-layout{
  padding-top 20px;
  @media (max-width  990px){
    .left-side , .right-side, .mid-side{
      padding-right 0 !important;
      padding-left 0 !important;
    }
  }
  .mid-side{
    margin-bottom 10px;
  }
  .categories{
    padding 10px;
    border: 1px solid #26272d;
    border-radius 3px;
    a{
      padding-left 10px;
    }
  }
}